/* --------------------------------------------------------
Style Sheet for Online Developer Plus, Inc
version: 1.0
last modified: 10.22.2019 by Brian Kidd
author: Brian Kidd
email: brian.kidd.one@gmail.com
website: briankiddmedia.com
----------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}
/*body*/
body{
	background-image: url(../img/serverRoom1.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	font-family: 'Roboto', sans-serif;
}
body p{
	font-size:17px;
	color: #404040;
	margin-right: 40px;
	margin-left: 40px;
	font-family: 'Roboto', sans-serif;
}
body h1{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #546780;
	text-align: center;
}
body h2{
	font-family: 'Roboto', sans-serif;
	color: #457ABF;
	font-size: 1.75em;
	text-align:center;
	font-weight:bold;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
table.course-descriptions a{
	text-decoration:underline;
	color:#5CA3FF;
}
 table.course-descriptions a:hover{
	text-decoration:none;
	color:#457ABF;
}
table.estimated-salaries{
	margin: auto;
	width: 50%;
}
table td.table-data-align-right{
	text-align:right;
}
/*navbar*/
.navbar-inverse{
	background-color:#457ABF;
	border-color:#457ABF;
	margin-bottom:0;
}
.navbar-inverse .navbar-brand {
    color: #F2DC05;
}
/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #FFF800;
    background-color: #142BCC;
}*/
.navbar-inverse .navbar-nav>li>a {
    color: #E6E6E6;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #F2DC05;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
   background-color: #142BCC;
}
.navbar-inverse .navbar-nav>.active>a{
	background-color:#142BCC;
	color:#F2DC05;
}
.navbar-inverse .navbar-nav > li > a:hover{
	color:#F2DC05;
}
.nav-active {
	background-color:#142BCC;
	color:#F2DC05;
}
li.nav-tab a:active{
	color:#F2DC05;
}
.jumbotron {
  padding-top: 80px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #404040;
  background-color: #8C8C8C;
  position:relative;
  z-index:-1;
  border-bottom:3px solid #457ABF
}
.container-section-body{
	background-color:#FFFFFF;
	padding-bottom:15px;
	font-weight:800;
	margin-bottom:30px;
	padding-top:30px;
	border:3px solid #457ABF;
	border-radius:5px;
}
#headerTable{
	margin: 0 auto;
}
img#odpLogo{
	margin-right:30px;
	border:3px solid #457ABF;
	border-radius:5px;
}
 img#intelLogo{
	margin-bottom:10px;
	width:300px;
	height:188px;
} 
h1#companyName{
	display:inline;
	font-size:5.25em;
	/*padding-left:30px;*/
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
	/*font-family:'wide latin';*/
}
#mobileHeaderDisplay{
	display:none;
}
#mKembelLinkedIn{
	font-size:1.5em;
}
h2#linkedIn{
	margin-top:-10px;
	font-size: 1.5em;
}
h2#linkedIn a{
	color: #5CA3FF;
}
h2.course-header{
	text-align:left;
	margin-left: 40px;
}
hr{
	border-color: #546780;
}
.ul-list-circle{
	list-style-type:circle;
	font-size:17px;
	color:#404040;
}
ul.unordered-list-bold{
	list-style-type:none;
	font-size:17px;
	color: #404040;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
ul.unordered-list{
	list-style-type:none;
	font-size:17px;
	color: #404040;
	font-family: 'Roboto', sans-serif;
}
.table{
	font-size:17px;
	font-family: 'Roboto', sans-serif;
}
.table th{
	font-size:1.25em;
}
.table td{
	color: #546780;
}
div#footer{
	/*position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;*/
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	width: 100%;
	background-color:#457ABF;
	color:#F2DC05;
	text-align:center;
	margin-top: 30px;
	padding-top:10px;
	height:50px;
	position: relative;
	bottom: 0;
}

@media only screen and (max-width:1200px){
	
	h1#companyName{
		font-size:4.5em;
	}
	img#odpLogo{
		margin-right:10px;
	}
}

@media only screen and (max-width:1024px){
	
	h1#companyName{
		font-size:3.5em;
	}
}

@media only screen and (max-width:768px){
	
	#headerTable{
		display:none;
	}
	#mobileHeaderDisplay{
		display:block;
	}
	img#odpLogo{
		margin: 0 auto;
	}
	.container-section-body p{
		margin-left:5px;
		margin-right:5px;
	}
	.ul-list-circle{
		margin-left:-20px;
	}
	
}

@media only screen and (max-width:424px){
	
	div#footer{
		height:70px;
	}
		
}